<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments.html::head}"></head>

<body>
<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<th:block th:replace="~{fragments.html::humberger}"></th:block>

<th:block th:replace="~{fragments.html::header}"></th:block>

<th:block th:replace="~{fragments.html::hero}"></th:block>

<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-5">
        <div class="sidebar">
          <div class="sidebar__item">
            <h4>Price</h4>
            <div class="price-range-wrap">
              <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                   data-min="10" data-max="540">
                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
              </div>
              <div class="range-slider">
                <div class="price-input">
                  <input type="text" id="minamount">
                  <input type="text" id="maxamount">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-7">
        <div class="filter__item">
          <div class="row">
            <div class="col-lg-4 col-md-5">
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="filter__found">
                <h6><span th:text="${#lists.size(products)}"></span> Products found</h6>
              </div>
            </div>
            <div class="col-lg-4 col-md-3">
              <div class="filter__option">
                <span class="icon_grid-2x2"></span>
                <span class="icon_ul"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <th:block th:each="product : ${products}">
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="product__discount__item">
                <div class="product__discount__item__pic set-bg">
                  <div class="text-center d-flex justify-content-center align-items-center h-100" >
                    <img
                            th:src="'data:' +${product.images[0].type} + ';base64,' + ${imgUtil.picByteToString(product.images[0].picByte)}"/>
                  </div>
                  <div class="product__discount__percent" th:if="${product.sale > 0}" th:text="${'-' + product.sale + '%'}"></div>
                  <ul class="product__item__pic__hover">
                    <li><a th:href="@{'/product/' + ${product.id}}"><i class="fa fa-eye"></i></a></li>
                    <li><a href="#" th:onclick="'addToCart(' + ${product.id} + ',1);event.preventDefault();'"><i class="fa fa-shopping-cart"></i></a></li>
                  </ul>
                </div>
                <div class="product__discount__item__text">
                  <h5><a href="#" th:text="${product.name}"></a></h5>
                  <div class="product__item__price" th:if="${product.sale == 0}" th:text="${'$' + product.salePrice}"></div>
                  <div class="product__item__price" th:unless="${product.sale == 0}">
                    <span th:text="${'$' + product.salePrice}" th:remove="tag"></span>
                    <span th:text="${'$' + product.price}"></span>
                  </div>
                </div>
              </div>
            </div>
          </th:block>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Section End -->

<!-- Js Plugins -->
<th:block th:replace="~{fragments.html::js}"></th:block>
<script type="text/javascript" th:src="@{/js/myjs/cart.js}"></script>


</body>

</html>